{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="file" class="pic" />
    <button class="btn">Send</button>
    <div
      id="image-box"
      style="border: 1px solid #ccc; padding: 10px; width: 300px"
    >
      <p>Обработанная картинка:</p>
      <img
        id="processed-image"
        src="placeholder.jpg"
        alt="Картинка появится здесь"
        style="max-width: 100%"
      />
      <br />
      <a id="download-link" href="{% static 'image/upload/WoNHx0eIomQ.png' %}" download="{% static 'image/upload/WoNHx0eIomQ.png' %}">Скачать</a>
      <!-- В href подставляется адрес файла, который будет скачан, т.е. сюда URL картинки -->
    </div>
    <script src="{% static 'js/js.js' %}"></script>
  </body>
</html>
